.Main{
    position: fixed;
    right: 400px;
    top: 0;
    height: 100vh;
    width: calc(100vw - 400px);
    overflow: hidden;
}

.selectPostLabel{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

.selectPostCheckBox{
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: 25px;
    left: 5px;
    opacity: 0;
}